<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>restful users</h1>
<table >
  <tr>
    <th>id</th>
    <th>First Name</th> 
    <th>Last Name</th> 
    <th>Email</th>
    <th>created At</th>
    <th>Actions</th>
  </tr>
    {% for user in users %}
    <tr>
    <td>{{user.id}}</td>
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.created_at}}</td>
    <td><a href='/{{user.id}}/showUser'>Show</a> | <a href='/{{user.id}}/editUser'>Edit</a> | <a href='{{user.id}}/delete'>Delete</a></td>
    </tr>
{% endfor %}
</table>
   <a href="/addUserPage">ADD A NEW USER</a>
</body>
</html>